<header>
    <h3>Tree View</h3>
</header>

<div class="container">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <h1 class="text-center">Add Value</h1>
            <div class="input-group-prepend">
                <input type="number" class="form-control" name="value" placeholder="Enter a value in km..."
                    [(ngModel)]="value">
                <button type="submit" [disabled]="!this.value">Submit</button>
            </div>
        </div>
    </form>
</div>


<div class="tree">
    <ul>
        <ng-template #clone1>
            <li class="cloned1">
                <i class="fas fa-chevron-right"></i>
                <ng-container *ngIf="newValueEdited1Clone === ''; else second">
                    {{newValue1}}
                </ng-container>
                <ng-template #second>
                    <ng-container *ngIf="newValueEdited1Clone">{{newValueEdited1Clone}}</ng-container>
                </ng-template>&nbsp;
                <span>
                    <label>Edit unit:</label>
                    <select name="event" id="" (click)="edit1clone($event)">
                        <option *ngFor="let event of events" [value]="event">{{event}}</option>
                    </select>
                </span>&nbsp;
                <span class="edit">
                    <i class="far fa-trash-alt" (click)="deleteItem($event)"></i>
                </span>
            </li>
        </ng-template>

        <li>
            <i class="fas fa-chevron-right"></i>
            <ng-container *ngIf="newValueEdited1 === ''; else second">{{value}} Kilometri</ng-container>
            <ng-template #second>{{newValueEdited1}}</ng-template>&nbsp;
            <span>
                <label>Edit unit: </label>
                <select name="event" id="" (click)="edit1($event)">
                    <option *ngFor="let event of events" [value]="event">{{event}}</option>
                </select>
            </span>&nbsp;
            <span class="edit">
                <span>Add unit: </span>
                <i class="fas fa-plus" (click)="addUnit1($event)"></i>&nbsp;
                <select name="event" id="">
                    <option *ngFor="let event of events" [value]="event">{{event}}</option>
                </select>
            </span>&nbsp;&nbsp;
            <span>
                <i class="far fa-trash-alt" (click)="deleteItem($event)"></i>
            </span>
            <div #container1></div>
        </li>

        <ul>
            <ng-template #clone2>
                <li class="cloned2">
                    <i class="fas fa-chevron-right"></i>
                    <ng-container *ngIf="newValueEdited2Clone === ''; else second">
                        {{newValue2}}
                    </ng-container>
                    <ng-template #second>
                        <ng-container *ngIf="newValueEdited2Clone">{{newValueEdited2Clone}}</ng-container>
                    </ng-template>&nbsp;
                    <span>
                        <label>Edit unit:</label>
                        <select name="event" id="" (click)="edit2clone($event)">
                            <option *ngFor="let event of events" [value]="event">{{event}}</option>
                        </select>
                    </span>&nbsp;
                    <span class="edit">
                        <i class="far fa-trash-alt" (click)="deleteItem($event)"></i>
                    </span>
                </li>
            </ng-template>

            <li>
                <i class="fas fa-chevron-right"></i>
                <ng-container *ngIf="newValueEdited2 === ''; else secondd">{{this.value > 0 ? this.value * 1000 + '
                    Metri' : ' Metri'}}</ng-container>
                <ng-template #secondd>{{newValueEdited2}}</ng-template>&nbsp;
                <span>
                    <label>Edit unit: </label>
                    <select name="event" id="" (click)="edit2($event)">
                        <option *ngFor="let event of events" [value]="event">{{event}}</option>
                    </select>
                </span>&nbsp;
                <span class="edit">
                    <span>Add unit: </span>
                    <i class="fas fa-plus" (click)="addUnit2($event)"></i>&nbsp;
                    <select name="event" id="">
                        <option *ngFor="let event of events" [value]="event">{{event}}</option>
                    </select>
                </span>&nbsp;&nbsp;
                <span>
                    <i class="far fa-trash-alt" (click)="deleteItem($event)"></i>
                </span>
                <div #container2></div>
            </li>

            <ul>
                <ng-template #clone3>
                    <li class="cloned3">
                        <i class="fas fa-chevron-right"></i>
                        <ng-container *ngIf="newValueEdited3Clone === ''; else second3clone">
                            {{newValue3}}
                        </ng-container>
                        <ng-template #second3clone>
                            <ng-container *ngIf="newValueEdited3Clone">{{newValueEdited3Clone}}</ng-container>
                        </ng-template>&nbsp;
                        <span>
                            <label>Edit unit:</label>
                            <select name="event" id="" (click)="edit3clone($event)">
                                <option *ngFor="let event of events" [value]="event">{{event}}</option>
                            </select>
                        </span>&nbsp;
                        <span class="edit">
                            <i class="far fa-trash-alt" (click)="deleteItem($event)"></i>
                        </span>
                    </li>
                </ng-template>

                <li>
                    <i class="fas fa-chevron-right"></i>
                    <ng-container *ngIf="newValueEdited3 === ''; else second3">{{this.value > 0 ? this.value *
                        100000 + ' Centimetri' : ' Centimetri'}}</ng-container>
                    <ng-template #second3>{{newValueEdited3}}</ng-template>&nbsp;
                    <span>
                        <label>Edit unit: </label>
                        <select name="event" id="" (click)="edit3($event)">
                            <option *ngFor="let event of events" [value]="event">{{event}}</option>
                        </select>
                    </span>&nbsp;
                    <span class="edit">
                        <span>Add unit: </span>
                        <i class="fas fa-plus" (click)="addUnit3($event)"></i>&nbsp;
                        <select name="event" id="">
                            <option *ngFor="let event of events" [value]="event">{{event}}</option>
                        </select>
                    </span>&nbsp;&nbsp;
                    <span>
                        <i class="far fa-trash-alt" (click)="deleteItem($event)"></i>
                    </span>
                    <div #container3></div>
                </li>

            </ul>
        </ul>
    </ul>
</div>